/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/
@font-face {
  font-family: cleanwork;
  src: url('/css/font/Cleanwork.ttf');
}

@font-face {
  font-family: agency;
  src: url('/css/font/AGENCYR.TTF');
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background: #ffffff;
  
}

h5 {
  padding-top: 50px;
  padding-left: 45px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: cleanwork;
}

#form-daftar input[type="checkbox"] {
    position: relative;
      right: 0;
      left: 0;
      width: 30px;
      height: 30px;
      margin: 0 auto;     
}

p {
  text-align: justify;
  padding-left: 45px;
  /* color: black; */
  /* font-style: italic; */
  font-family: agency;
}

.daftar {
  font-family: agency;
}

td {
  padding: 10px;
  color: black;
  text-align: center;
  font-style: bold;
  font-size: large;
}

th {
  padding: 10px;
  color: black;
  text-align: center;
  font-style: bold;
  font-size: large;
}

.card1 {
  margin-top: 50px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 10px;
  color: rgba(0, 0, 0, .87);
  background-color: #44414185;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  width: 100%;
}

nav li {
  display: inline;
  list-style-type: none;
  margin: 5px;
  color: white;
  font-weight: 100 bold;
  font-family: agency;
}

.li1 {
  float: left;
  font-family: cleanwork;
}

img {
  margin-right: 10px;
  max-width: 500px;
}

.alert-box {
  position: absolute;
  user-select: none;
  width: 400px;
  background: white;
  padding: 40px;
  border: 1px solid #b3b3b3;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
}

.btnJadwal:hover {
  letter-spacing: 0.10em;
  background: var(--clr);
  box-shadow: 0 0 35px var(--clr)
 
}

.btnPilih:hover {
 
  letter-spacing: 0.10em;
  background: var(--clr);
  box-shadow: 0 0 35px var(--clr)

}

/* .btnPilih::before{
  content: '';
  position: absolute;
  inset: 2px;
 
} */

a {
  color: rgb(0, 0, 0);
}

/* .jenis_kendaraan {
  display: flex;
  justify-content: center;
} */

/* input[type="radio"] {
  display: none;
} */

/* .form-control:not(select) {
  padding: 1.5rem 0.5rem;
}

select.form-control {
  height: 52px;
  padding-left: 0.5rem;
}

.form-control::placeholder {
  color: #ccc;
  font-weight: bold;
  font-size: 0.9rem;
}
.form-control:focus {
  box-shadow: none;
} */

.jenis_kendaraan {
  padding-left: 45px;
  padding-top: 20px;
  font-family: agency;
  color:  black;
}

.btn-lg {
  margin-right: 20px;
}

#pkManual {
  padding-left: 35px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  
}

#pkMatic {
  padding-left: 35px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.card {
  width: 9rem;
  margin: 15px;
  cursor: pointer;
}

.card:hover img {
  transform: scale(1.2, 1.2);
}

.pembayaran {
  margin: 15px;
  padding: 5px;
}

/* .card
{
  position: relative;
  width: 500px;
  height: 200px;
  background: #000;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 1);
  display: flex;
}

.card .imgBx
{
  position: relative;
  min-width: 500px;
  height: 200px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .imgBx img
{
  max-width: 250px;
  transition: 0.5s ease-in-out;
}

.card:hover .imgBx img
{
  transform: scale(1.5, 1.5);
}

.card .details
{
  position: relative;
  width: 300px;
  height: 100px;
  background: #4ba9e9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .details::before
{
  content: '';
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #fff;
} */